body {
    background-color: #292929;
    margin: 0;
    font-family: "Dancing Script", sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    background-color: black;
    border-bottom: 2px solid #9F8C00;
    justify-content: center;
    align-items: center;
}

header button {
    padding: 0;
    border: none;
    background: none;
}

header button img {
    height: 150px;
}

header div {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer {
    background-color: black;
    border-top: 2px solid #9F8C00;
}

.page-selector {
    font-size: 2em;
    font-family: "Dancing Script";
    color: #9F8C00;
    background-color: #292929;
    border: 1px solid #9F8C00;
    padding: 5px 7px;
    margin: 10px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 3em;
    color: #9F8C00;
}

.info-container p {
    width: 80%;
}

.info-container h2 {
    margin-bottom: 0;
}

.info-container hr {
    border-color: #9F8C00;
    width: 30%;
}

.content img {
    border-radius: 50%;
    height: 80%;
    box-shadow: 0 0 20px 20px #9F8C00;
    background-color: black;
}

.content p {
    font-size: .8em;
    margin: 0 50px;
}

.content {
    height: 500px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}